{% extends 'base.html' %}
{% block content %}
<h1>{{ week.name }}</h1>
<h2>Exercises</h2>
<div>
<a href="{% url 'create_exercise' %}">Create an Exercise</a>
</div>
{% if week.exercises.all|length == 0 %}
<p>This week has no exercises</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Minutes</th>
        </tr>
    </thead>
    <tbody>
        {% for exercise in week.exercises.all %}
        <tr>
            <td>{{ exercise.name }}</td>
            <td>{{ exercise.description }}</td>
            <td>{{ exercise.sets }}</td>
            <td>{{ exercise.reps }}</td>
            <td>{{ exercise.weight }}</td>
            <td>{{ exercise.minutes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
