{% extends 'base.html' %}
{% block content %}
<h1>My Weeks</h1>
<div>
    <a href="{% url 'create_week' %}">Create a Week</a>
</div>
    {% if weeks.all|length == 0 %}
    <p>You have no weeks logged</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Week</th>
            </tr>
        </thead>
        <tbody>
            {% for week in weeks %}
            <tr>
                <td>
                    <a href="{% url 'week_detail' week.id %}">{{ week.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock content %}
