{% extends 'base.html' %}
{% block content %}
<h1>My Exercises</h1>

{% if exercises.all|length == 0 %}
<p>You have no exercises logged</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>Exercises</th>
            <th>Number of tasks</th>
        </tr>
    </thead>
</table>
{% endif %}
{% endblock content %}
